@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff3e0;
  font-family: sans-serif;
  overflow-y: scroll;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #263238;
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1rem;
  width: 100%;
  scroll-behavior: smooth;
}

footer {
  background-color: #263238;
  color: #fafafa;
}

@media (orientation: landscape) {
  .portrait-only {
    display: none;
  }
  main {
    margin-top: 1rem;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
